<header>
  <nav class="navbar">
    <div class="container flex justify-center items-center space-x-2.5 mx-2.5">
      <!-- 左側: タイトル -->
      <div class="navbar-brand">
        <h1 class="font-bold">GAMES_MEMORY</h1>
      </div>

      <div class="login flex items-center space-x-2.5">
        <!-- ログイン状態に応じた表示 -->
        <% if user_signed_in? %>
          <!-- ユーザーアイコン -->
          <div class="user-icon">
            <%= link_to "プロフィールへ", post_path(current_user), class: "btn btn-primary" %>
          </div>
        <% else %>
          <!-- ログインボタン -->
          <%= button_to safe_join([
            image_tag("https://img.icons8.com/external-those-icons-flat-those-icons/24/external-Google-logos-and-brands-those-icons-flat-those-icons.png", width: 20, height: 20, alt: "Googleログイン", class: "inline-block"),
            content_tag(:span, "ログイン", class: "text-xs text-brack font-light")
          ]), user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "btn btn-sm gap-1 font-semibold rounded-full bg-white hover:border-orange-500 hover:bg-white drop-shadow-md hover:drop-shadow-none" %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <%= link_to '動画投稿', new_post_path, class: 'btn btn-primary' %>
        <%= link_to 'スレッド投稿', new_sureddo_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </nav>
</header>