<header>
  <nav class="navbar">
    <div class="container">
      <!-- 左側: タイトル -->
      <div class="navbar-brand">
        <h1>GAMES_ MEMORY</h1>
      </div>

      <!-- 右側: 検索欄とログインボタンまたはユーザーアイコン -->
      <div class="navbar-end">
        <!-- 検索フォーム -->
        <form class="search-form" action="#" method="get">
          <input type="text" name="query" placeholder="MVP後リリース！" class="search-input">
          <button type="submit" class="search-btn">検索</button>
        </form>
      </div>

      <div class="login">
        <!-- ログイン状態に応じた表示 -->
        <% if user_signed_in? %>
          <!-- ユーザーアイコン -->
          <div class="user-icon">
            <%= link_to "プロフィールへ", post_path(current_user), class: "btn btn-primary" %>
          </div>
        <% else %>
          <!-- ログインボタン -->
          <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <%= link_to '動画投稿', new_post_path, class: 'btn btn-primary' %>
        <%= link_to 'スレッド投稿', new_sureddo_path, class: 'btn btn-primary' %>
      <% end %>

    </div>
  </nav>
</header>